
//Variables

$color-text-default: #fff;
$color-background:  #222;

//Base

*{
	margin: 0;
  padding: 0;
}

body {
	background: $color-background;
	font-family: sans-serif;
	height: 100%;
  width: 100%;
  padding: 20px;
}

//Typography

h1 {
  font-size: 54px;
  color: $color-text-default;
}

//Components

.aggregate {
  width: 40%;
  display: inline-block;
  color: $color-text-default;
}

.playlist {
	width: 25%;
	color: $color-text-default; 
	display: inline-block;

	&__list {
		list-style: none;
		text-align: left;
	}

}

.loading {
	  font-size: 30px;
		color: $color-text-default; 
}

